:root {
    --primary: #2196F3;
    --primary-md: #42A5F5;
    --primary-lt: #64B5F6;
    --primary-lightest: #E3F2FD;
    --secondary: #FF6F00;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-700: #616161;

    --shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    --shadow-4dp: 0 4px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    --shadow-8dp: 0 8px 10px 0 rgba(0, 0, 0, .14), 0 3px 12px 2px rgba(0, 0, 0, .12);
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Hoang: nhung element gan nhau trong html thi css nen de gan nhau cho e doc
    Select chi tiet de tranh bi trung doi tuong 
    Cai gi khong dung den thi xoa di
    Them phan xu ly responsive
      - Xet min-width, min-height, max-width, max-height cho calendar, xong xu ly responsive trong vung day
  */
  body {
    /* display: flex; */
    align-items: flex-start;
    justify-content: flex-start;

    width: 100vw;
    height: 100vh;

    padding-top: 36px;
    padding-left: 10%;


    font-family: 'Nunito', sans-serif;
    font-size: 16px;

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .inputs {
    height: 100%;
    /* width: calc(100% - 350px); */
    /* Hoang: Add responsive */
    width: 65%;

    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    /* float: right; */

    /*   border: 1px solid white; */
  }

  .inputs > * {
    margin-bottom: 48px;
  }

  .inputs input {
    font-family: "Nunito";
    font-size: 90%;
  }

  .type1 {
    height: 100%;
    width: 100%;
  }

  /* ============================ */
  /* Type 1 */
  /* ============================ */


  .fields {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .calendar-widget{
    height: 100%;
    width: 100%;
  }


  .date-field {
    cursor: pointer;
  }

  .calendar-widget {
    position: relative;
  }

  .calendar-widget:focus {
    outline: none;
  }

  .calendar-wrapper {
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    height: 100%;
    width: 100%;
    /* padding-top: 8px; */

    z-index: 2;
  }

  .year {
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
    height: 20px;
    /* Hoang: Add responsive */
    font-size: 90%;
  }

  .dual-calendar {
    display: flex;
    height: calc(100% - 20px);
    width: 100%;
    /*   height: 300px; */

    /* border-radius: 3px; */
    padding: 5px 16px 7px 16px;
    /* box-shadow: var(--shadow-2dp); */
    background-color: white;
  }

  .dual-calendar .calendar:first-child {
    /* margin-right: 10px; */
    border-right: 1px solid #b1154a;

  }

  .calendar {
    /* width: auto; */
    width: 50%;
    height: 100%;
    padding: inherit;

  }

  .calendar-header {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .month-text {
    font-family: "Nunito";
    color: var(--gray-700);
    /* Hoang: Add responsive */
    font-size: 90%;
  }

  .prev-btn,
  .next-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    z-index: 1;
    /* Hoang: Add responsive */
/* 
    width: 36px;
    height: 36px; */
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    /* Hoang: Add responsive */
    /* border-radius: 36px; */
    box-shadow: var(--shadow-2dp);
    background-color: var(--primary);
    color: white;

    transition: background-color 0.2s, box-shadow 0.2s;
  }

  /* Hoang: Add responsive */
  .move-btn-small {
    width: 20px;
    height: 20px; 
    border-radius: 20px;
  }

  .move-btn-medium {
    width: 36px;
    height: 36px; 
    border-radius: 36px;
  }

  .move-btn-big {
    width: 50px;
    height: 50px; 
    border-radius: 50px;
  }

  .prev-btn:hover,
  .next-btn:hover {
    box-shadow: var(--shadow-4dp);
    background-color: var(--primary-md);
  }

  .prev-btn:active,
  .next-btn:active {
    box-shadow: var(--shadow-8dp);
    background-color: var(--primary-lt);
  }

  .prev-btn.disabled,
  .next-btn.disabled {
    cursor: default;
    box-shadow: none;
    background-color: var(--gray-300);
    color: var(--gray-500);
  }

  .prev-btn *,
  .next-btn * {
    user-select: none;
  }

  .prev-btn {
    left: 0;
  }

  .next-btn {
    right: 0;
  }

  .date-table-header {
    display: flex;
    justify-content: space-between;
    height: calc(100% / 7);
    width: 100%;
    margin-top: 8px;
  }

  .day {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% / 7);
    /* height: 40px; */

    font-weight: 700;

    color: var(--gray-700);
  }

  .day.saturday {
    color: var(--primary);
  }

  .day.sunday {
    color: var(--secondary);
  }


  /* Date Styling */
  .date-table-row {
    display: flex;
    height: calc((100%) / 6);
    justify-content: space-between;
  }

  .date {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% / 7);
    height: 100%;
    transition: color 0.2s;
  }

  /* DO NOT CHANGE THE ORDER */

  .date.sunday {
    color: var(--secondary);
  }

  .date.today {
    color: var(--primary);
  }

  .date.selected {
    color: white;
  }

  .date.disabled {
    color: var(--gray-300);
  }

  .date.empty {
    cursor: default;
    user-select: none;
  }
  .date * {
    cursor: pointer;
    user-select: none;
  }

  .date.disabled *{
    cursor: not-allowed;
  }

  .date .help-text {
    position: absolute;
    top: 0;

    display: none;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 15px;
    /* font-size: 10px; */
    z-index: 1;
  }

  .date .date-text {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 90%;

    z-index: 1;
  }

  .date .date-ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* Hoang: Add responsive */
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    background-color: transparent;

    will-change: transform;

    transition: transform 0.18s cubic-bezier(0, .75, .5, 1), background-color 0.2s;
  }

  .date .date-ripple.no-transition {
    transition: none;
  }

  .date.hover .date-ripple {
    background-color: var(--gray-300);
    transform: translate(-50%, -50%) scale(1);
  }

  .date.in-range .date-ripple {
    background-color: var(--primary-lightest);
    transform: translate(-50%, -50%) scale(1);
  }

  .date.selected .date-ripple {
    background-color: var(--primary);
    transform: translate(-50%, -50%) scale(1);
  }
  .calendar-sidebar {
     /* Hoang: Add responsive */
    width: 35%;
    height: 100%;
    background-color: #EEEEEE;
    padding: 5px 0px 0px 15px;
    overflow-y: auto;
    overflow-x: auto;
    /* float: left; */
  }
  .clearboth{
    clear: both;
  }
  .calendar-section{
    display: flex;
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
  }

  .calendar-footer{
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
    border-top: 2px solid gray;
    position: relative;
    display: flex;
  }

  .calendar-content{
    /* display: none; */
    width: 900px;
    height: 500px;
     /* Hoang: Add responsive */
    max-width: 1500px;
    min-width: 500px;
    max-height: 1000px;
    min-height: 250px;
  }

  .calendar-hide {
    display: none;
  }
  
  .calendar-show {
    display: block;
  }

  div.calendar-sidebar input.radio {
    /* margin-bottom: 20px; */
    /* font-size: 30px; */
    /* Hoang: Add responsive */
    font-size: 90%;
    height: auto;
  }
  div.calendar-sidebar label {
    /* font-size: 20px; */
    /* Hoang: Add responsive */
    font-size: 110%;
    height: auto;
  } 

  div.calendar-sidebar p {
    font-size: 20px;
    /* Hoang: Add responsive */
    font-size: 110%;
  } 

  div.calendar-footer .btn_OK {
    position: absolute;
    display: inline-block;
    /* margin-left: 550px; */
    /* margin-top: 10px; */
    right: 160px;
    width: 60px;
    height: 30px;
    border: 0px;
    background-color: white;
    /* Hoang: Add responsive */
    transform: translateY(-50%);
    top:50%;
    font-size: 90%;
  }

  div.calendar-footer .btn_Cancel {
    position: absolute;
    display: inline-block;
    /* margin-right: 100px; */
    /* margin-top: 10px; */
    /* margin-right: 100px; */
    right: 50px;
    width: 60px;
    height: 30px;
    border: 0px;
    background-color: white;
    /* Hoang: Add responsive */
    transform: translateY(-50%);
    top:50%;
    font-size: 90%;
  }

  /* Hoang: Add responsive */
  /* .calendar_button {
    position: absolute;
    display: flex;
    top:50%;
    transform: translateY(-50%);
    right: 100px;
    height: auto;
  } */

  div.calendar-footer i {
    /* position: absolute; */
    /* Hoang: Add responsive */
    font-size: 150%;
    vertical-align: middle;
  }

  div.calendar-footer .warning {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }

  /* Hoang: Add responsive */
  .warning span {
    font-size: 100%;
  }

  .date-table-body {
    display: flex;
    flex-direction: column;
    height: calc((100% * 6) / 7);
  }
  .calendar-body {
    height: calc(100% - 40px);
    width: 100%;
  }
  
  .date-table {
    height: 100%;
    width: 100%;
  }

  /* Hoang: Add responsive */
  /* @media screen and (max-width:200) {
    
  } */